<header class="topbar">
    <a class="brand" href="{{@website.url}}">
        {{#if @website.logo}}
            <img src="{{@website.logo}}" alt="{{@website.name}}" class="brand__logo" width="{{@website.logoSize.width}}" height="{{@website.logoSize.height}}">
        {{else}}
            <span class="brand__label">{{@website.name}}</span>
        {{/if}}
    </a>

    <div class="topbar__actions">
        {{#if @config.custom.showThemeToggle}}
            <button class="topbar__scheme js-scheme-toggle" aria-label="{{@config.custom.labelThemeToggle}}">
                <span aria-hidden="true">&#9681;</span>
            </button>
        {{/if}}
        <button class="topbar__toggle js-nav-toggle" aria-expanded="false" aria-controls="site-nav">
            {{@config.custom.labelMenu}}
        </button>
    </div>

    <nav class="nav js-nav" id="site-nav">
        {{> menu menus.mainMenu}}
    </nav>
</header>
